# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# project specific
/csv
/ffxiv_price.duckdb

# dependencies
/node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/